/*Changed Default styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
  background-color: none;
}
:root {
  --secondary-color: #6ca4d4;
}
a:link {
  text-decoration: none;
  color: #fff;
}
a:visited {
  text-decoration: none;
  color: #fff;
} /*The Header Section And List */
body {
  background-color: #7b9c91;
}
.header {
  background-color: #7b9c91;
  padding: 20px;
}
.header h1 {
  display: inline-flex;
  color: #fff;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--secondary-color);
  flex-wrap: wrap;
  flex: 1;
  margin-right: 10px;
}
.header ul li {
  float: right;
  list-style: none;
  background-color: #7b9c91;
  margin: 0px 40px 18px 0;
  padding: 0px 5px 15px 1px;
  position: relative;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header ul li::after {
  background-color: #3b3b3b;
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
}
.header ul li:hover {
  color: #3b3b3b;
}
.header ul li:hover::after {
  width: 100%;
  transition: 0.4s;
}
.header ul .N {
  color: #3b3b3b;
  margin-right: 0;
} /*The Start Of Hero Section  */
.langh1 {
  box-shadow: 1px 1px 2px;
  text-align: center;
}
.language-card-container {
  align-items: center;
  justify-content: center;
  display: flex;
}
.language-card {
  background-color: #fff;
  height: 55px;
  width: 55px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px;
  margin: 10px 10px 10px 10px;
  transition: 0.5s;
}
.language-card img {
  margin-top: 3px;
  margin-left: 2px;
  height: 50px;
  width: 50px;
  transition: 0.5s;
}
.language-card:hover {
  background-color: #fff;
  height: 60px;
  width: 60px;
  transition: 0.5s;
}
.language-card img:hover {
  margin-top: 3px;
  margin-left: 2px;
  height: 55px;
  width: 55px;
  transition: 0.5s;
}
.section {
  display: inline;
}
