* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
}
:root {
  --secondary-color: #6ca4d4;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
.header {
  background-color: #fff;
  padding: 20px;
  position: sticky;
  position: -webkit-sticky;
}
.header h1 {
  display: inline-flex;
  color: black;
  border-style: 1px solid var(--secondary-color);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--secondary-color);
  flex-wrap: wrap;
  flex: 1;
  margin-right: 10px;
}

.header ul li {
  float: right;
  list-style: none;
  background-color: #fff;
  margin: 0px 40px 18px 0;
  padding: 0px 5px 15px 1px;
  position: relative;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header ul li::after {
  background-color: var(--secondary-color);
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
}
.header ul li:hover {
  color: #3b3b3b;
}
.header ul li:hover::after {
  width: 100%;
  transition: 0.4s;
}
.header ul .N {
  color: var(--secondary-color);
  margin-right: 0;
}
.hero {
  height: 600px;
  background-image: url(/assets/images/hero-image.jpg);
  background-size: cover;
  background-position: 80%;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.hero div {
  margin: auto;
}
.hero div img {
  box-shadow: 10px 3px 8px;
  min-width: 50px;
}
.hero div img:hover {
  border-radius: unset;
}

.hero p {
  color: #fff;
  font-size: 50px;
  text-shadow: 2px black;
}
.hero h3 {
  color: #fff;
  margin-left: 100px;
}

.hero img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}
.section {
  display: inline;
}
.about {
  height: 500px;
  display: inline;
}
.about h2 {
  text-align: center;
  padding-bottom: 2px var(--secondary-color);
  font-size: 25px;
  background-color: #fff;
}
.about hr {
  color: var(--secondary-color);
  background-color: var(--secondary-color);
  width: 50%;
  margin-left: 25%;
  margin-top: 5px;
}
.about .about-p {
  margin-top: 5px;
}

.about .about-p p {
  overflow: auto;
  height: 400px;
  text-align: center;
}
.projects {
  height: 500px;
  background-color: var(--secondary-color);
  display: inline;
  width: 100%;
}
.projects hr {
  color: var(--secondary-color);
  background-color: var(--secondary-color);
  width: 50%;
  margin-left: 25%;
  margin-top: 5px;
}
.projects h2 {
  text-align: center;
}
.projects div {
  display: inline;
}
.projects .run-buddy img {
  width: 33.33%;
}
.projects .run-buddy h3 {
  text-align: center;
  color: black;
}

.contact-me h2 {
  text-align: center;
  padding-bottom: 20px;
}

.contact-links li {
  text-align: center;
  list-style: none;
  background-color: #fff;
  margin: 0px 100px 18px 150px;
  padding: 0px 5px 15px 1px;
  position: relative;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  float: left;
}
.contact-links li::after {
  background-color: var(--secondary-color);
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
}
.contact-links li:hover {
  color: #3b3b3b;
}
.contact-links li:hover::after {
  width: 100%;
  transition: 0.4s;
}
@media only screen and (max-width: 768px) {
  main {
    flex-direction: columnm;
  }

  .about .about-img img {
    height: 300px;
    width: 240px;
  }
  .about .about-img p {
    height: 300px;
    width: 240px;
  }
}
